@font-face {
  font-family: RaleWay;
  src:  url(./fonts/Raleway/Raleway-Variable.ttf)
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: RaleWay;
}
.main {
  --text-color-blue: #33a8db;
  --text-color-white: #FFFFFF;
}
body {
  font-size: 200px;
}